@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');

body{
    background-color: #ffffcc;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(3, 2, 72);
}

h3{
    background-color: aquamarine;
    color: darkmagenta;
    padding: 1%;
}

p{
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    color: hsl(120, 94%, 14%);
    font-size: 20px;
    font-weight: bold;
}